@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root{
    --space-cadet:#273469;
    --space-cadet-dark:#1e2749;
    --lavender-blue:#000000;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Open Sans' , sans-serif;
}
body{
    line-height:1.6;
    background:#B1B2FF;
    font-size:1.05rem;
}
.center{
    display : flex;
    align-items : center;
    justify-content:center;

}
.container{
    min-height:100vh;
}
.bill-divider-wrapper{
    max-width: 1080px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}
.title{
    background:#C4DFDF;
    padding: 0.7rem 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);

}
.title h1{
    text-align:center;
    color:#fff;
}
.bill-inputs, .bill-output{
    padding: 2rem 2.5rem;
 
}
#total-bill{
    color:#118C4F;
    font-size:1.4rem;
}
#bill-per-person{
    color:#118C4F;
    font-size:1.4rem;

}
#total-tip{
    color:#118C4F;
    font-size:1.4rem;
}
#tip-per-person{
    color:#118C4F;
    font-size:1.4rem;
}
.bill-inputs{
    border-bottom: 1px solid rgba(0,0,0,0.2);
       
}
.form-group{
    padding: 0.5rem 0;
}
.form-group label{
    text-transform:uppercase;
    display:inline-block;
    padding-bottom:0.2rem;
}
.form-control{
    width:100%;
    font-size:1rem;
    padding:0.5rem;
    border:none;
    border-bottom:1.5px solid var(--lavender-blue);
    transition : all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition : all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition:all 0.4s ease;
}
.form-control:focus{
    outline : 0;
    border-color:var(--space-cadet);
}
#calc-btn{
    padding:0.5rem 8.0rem;
    font-size: 1.2rem;
    text-transform : uppercase;
    margin-top: 2rem;
    background:#A0C49D; 
    cursor: pointer;
    display: block;
    transition : all 0.4s ease;
    --webkit-transition:all 0.4s ease;
    moz-transition: all 0.4s ease;
    -ms-trasnition:all 0.4s ease;
    -o-transition:all 0.4s ease;
}
#calc-btn:focus{
    outline:0;
}
#calc-btn:hover{
    background: #118C4F;
}
.text-group{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0.3rem 0;
}
.text-group h3{
    font-weight:400;
    opacity:0.8;
}
.text-group:nth-child(1) h3{
    font-weight:700;
}
.text-group span{
    font-weight: 600;
}
